* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: none;
  color: black;
}

.flex {
  display: flex;
}

/* Header */

.header {
  width: 1280px;
  height: 65px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-vinted {
  width: 100px;
}

.header input {
  border: none;
  background-color: #f5f6f7;
  border-radius: 5px;
  width: 632px;
  margin: 5px 0;
  margin-left: 5px;
  padding: 8px 5px;
}

.header input:focus {
  outline: none;
}

.header-input {
  background-color: #f5f6f7;
  padding-left: 10px;
  border-radius: 5px;
  border: none;
}

.header button {
  margin: 10px 0;
  padding: 5px 0;
}

.header button {
  border: solid 1px #2cb1ba;
  border-radius: 5px;
  color: #2cb1ba;
  background-color: white;
  width: 140px;
  margin-right: 15px;
  opacity: 0.8;
}

.header button:hover {
  opacity: 1;
  cursor: pointer;
}

#disconnect {
  border: solid 1px #c2185a;
  border-radius: 5px;
  color: white;
  background-color: #c2185a;
  width: 155px;
  margin-right: 15px;
}

#disconnect:hover {
  border: solid 1px #c2185a;

  color: #c2185a;
  background-color: white;
  cursor: pointer;
}

#sell {
  margin-right: 0px;
  border: solid 1px #2cb1ba;
  border-radius: 5px;
  color: white;
  background-color: #2cb1ba;
  padding: 5px 10px;
  opacity: 0.8;
}

#sell:hover {
  opacity: 1;
  cursor: pointer;
}

/* Home */

.hero {
  width: 100%;
  height: 455px;
  background-position-x: 50%;
  background-position-y: center;
  background-image: url("./img/hero-background.jpg");
  background-size: cover;
  position: relative;
  margin-bottom: 15px;
}

.hero-message {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  left: 25px;
  box-shadow: 0 0 2px rgb(17 17 17 / 24%);
}

.hero-message button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  opacity: 0.8;
  margin-top: 32px;
}
.hero-message button:hover {
  opacity: 1;
  cursor: pointer;
}

.hero img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
}

/* Item */

.all-items {
  justify-content: center;
  display: flex;
  width: 1280px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.individual-items {
  border-radius: 5px;
  margin: 5px 10px;
}

.individual-items p:not(:first-child) {
  margin-top: 5px;
  font-size: 12px;
  color: grey;
}

.individual-items-description {
  padding: 10px 5px;
}

.user {
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}

.offer-display {
  display: flex;
  width: 100%;
}

.product {
  object-fit: cover;
  width: 235px;
  height: 360px;
}

/* Offer */

.offer-body {
  height: calc(100vh - 60px);
  background-color: #ebedee;
}

.offer-body-2 {
  height: 100vh;
  background-color: #ebedee;
}

.offer {
  position: relative;
  padding-top: 30px;
  display: flex;
  margin: 0 auto;
  width: 1280px;
  justify-content: space-around;
}

.offer button {
  margin-top: 50px;
  width: 100%;
  border: solid 1px #2cb1ba;
  border-radius: 5px;
  color: white;
  background-color: #2cb1ba;
  height: 36px;
  opacity: 0.8;
}

.offer button:hover {
  opacity: 1;
  cursor: pointer;
}

.offer-box {
  padding: 40px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.product-offer {
  object-fit: cover;
  width: 450px;
  height: 605px;
}

.offer-description h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.offer-description p {
  line-height: 20px;
  font-size: 14px;
}

.elements {
  margin-right: 10px;
  color: grey;
}

.offer-user p {
  color: grey;
  margin: 15px 0;
}

.user-offer {
  display: flex;
  align-items: center;
}

.line {
  background-color: grey;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}

.avatar-offer {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* LOGIN & SIGNUP */

.form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 220px;
  margin-top: 30px;
}

.form-container h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.form-container > input {
  width: 100%;
  border: none;
  border-bottom: solid grey 1px;
  padding: 10px 0;
}

.form-container input:focus {
  outline: none;
}

.form-container button {
  border: solid 1px #2cb1ba;
  border-radius: 5px;
  color: white;
  background-color: #2cb1ba;
  height: 36px;
  width: 100%;
  margin: 20px 0 10px 0;
  opacity: 0.8;
}

.form-container button:hover {
  opacity: 1;
  cursor: pointer;
}

.newsletter {
  margin-top: 30px;
  width: 100%;

  display: flex;
  justify-content: flex-start;

  align-items: center;
}

.newsletter p {
  color: grey;
  margin-left: 5px;
  font-size: 14px;
}

.terms {
  font-size: 10px;
  color: lightgrey;
  margin-top: 5px;
}

.link-login-signup {
  font-size: 10px;
  color: #2cb1ba;
  text-decoration: none;
}

.link-login-signup:hover {
  color: #2cb1ba;
  text-decoration: underline;
}

/* Publish */

.dropzone {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: grey;
  font-size: 14px;
  padding: 10px;
  border: grey solid 1px;
  border-radius: 5px;
}

.publish {
  background-color: white;
  border-radius: 5px;
  width: 400px;
  margin: 30px auto;
  margin-bottom: 80px;
  padding-bottom: 5px;
}

.form-container h3 {
  margin-top: 20px;
  color: grey;
}

/* Payment */

.payment-container {
  margin-top: 50px;
  text-align: center;
  width: 400px;

  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}

.payment-container h1 {
  text-align: center;
  margin: 20px 0;
}

.payment-container input {
  border: solid 1px #2cb1ba;
  border-radius: 5px;
  color: white;
  background-color: #2cb1ba;
  height: 36px;
  width: 100%;
  margin: 20px 0 10px 0;
  opacity: 0.8;
}

.payment-container input:hover {
  opacity: 1;
  cursor: pointer;
}

.payment-item {
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-self: unset;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  width: 400px;
  background-color: white;
}

.payment-item h1 {
  margin: 10px 0;
  margin-bottom: 20px;
}

.payment-item p {
  color: grey;
  margin-top: 20px;
}

.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 25px 0;
}

/* Success */

.success-box {
  display: flex;

  justify-content: center;
}

.success {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.success h1 {
  margin-top: 10px;
}

.success p {
  margin-top: 15px;
  color: grey;
  font-size: 14px;
}

.success button {
  margin-top: 20px;
  width: 100%;
  border: solid 1px #2cb1ba;
  border-radius: 5px;
  color: white;
  background-color: #2cb1ba;
  height: 36px;
  opacity: 0.8;
}

.success button:hover {
  opacity: 1;
  cursor: pointer;
}
